.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Michroma', sans-serif;
    color: #E0E0E0  ;
}

html{
    font-size: 50%;
    overflow-x: hidden;
}

body {
    background-image: url('grid.png');
    background-size: repeat;
    background-position: center;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 10; /* Above spotlight */
}

.spotlight-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    pointer-events: none;
    mask-image: radial-gradient(circle 2500px at 0 0, transparent 0%, black 100%);
    -webkit-mask-image: radial-gradient(circle 250px at 0 0, transparent 0%, black 100%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    z-index: 5; /* Below content */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 15;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 3rem;
    font-weight: 800;
    color: #E0E0E0;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    text-shadow: 0 0 25px rgba(254, 254, 254, 0.5);
}

.navbar a{
    font-size: 1.8rem;
    margin-left: 4rem;
    color: #E0E0E0;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: #E0E0E0;
    border-bottom: 3px solid white;
}

.navbar ul{
    list-style: none;
    display: flex;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15rem;
}

.home_content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    max-width: 45rem;
}

span{
    color: #FF4FDB;
    text-shadow: 0 0 25px #FF4FDB;
}

.home_content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.model_box .model{
    position: relative;
    top: 3rem;
    left: 10rem;
    width: 42vw;
}

.home_content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
    margin-top: 0.8rem;
}

.social_icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid #A020F0;
    font-size: 2.5rem;
    border-radius: 50%;
    color: #FF4FDB;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social_icons a:hover{
    transform: scale(1.3)translateY(-5px);
    color: #FF4FDB;
    background-color: #A020F0;
    box-shadow: 0 0 25px #A020F0;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #A020F0;
    box-shadow: 0 0 25px #A020F0;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #A020F0;
    color: #E0E0E0;
}

.button_group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.button_group a:nth-of-type(2){
    background: black;
    color: #FF4FDB;
    border: 2px solid #A020F0;
    box-shadow: 0 0 25px transparent;
}

.button_group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px #A020F0;
    background-color: #A020F0;
    color: #E0E0E0;
}

.heading{
    font-size: 8rem;
    text-align: center;
    margin: 3rem 0;
}

.education{
    padding: 100px 15px;
}

.education h2{
    margin-bottom: 5rem;
}

.timeline_items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline_items::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #FF4FDB;
    left: calc(50%);
    border-radius: 2px;
}

.timeline_item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline_item:last-child{
    margin-bottom: 0;
}

.timeline_item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline_item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline_dot{
    height: 21px;
    width: 21px;
    background-color: #FF4FDB;
    box-shadow: 0 0 25px #FF4FDB,
                0 0 25px #FF4FDB;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline_date{
    font-size: 20px;
    font-weight: 800;
    color: #E0E0E0;
    margin: 6px 0 15px;
}

.timeline_content{
    background-color: black;
    border: 3px solid #A020F0;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #A020F0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline_content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #A020F0;
}

.timeline_content h3{
    font-size: 20px;
    color: #E0E0E0;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline_content p{
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #A020F0;
}

::-webkit-scrollbar-track{
    background-color: #FF4FDB;
}

.contact{
    background-color: transparent;
}

.contact h2{
    margin-bottom: 3rem;
    color: #E0E0E0;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5 auto;
    text-align: center;
    background-color: transparent;
    border-radius: 2rem;
}

.contact form .input_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input_box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: #E0E0E0;
    background-color: rgb(18, 18, 18);
    border-radius: 2rem;
    border: 2px solid #FF4FDB;
    margin: 1.5rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.023);
    backdrop-filter: blur(7px);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #A020F0;
}

.footer .social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid #A020F0;
    font-size: 2.5rem;
    border-radius: 50%;
    color: #FF4FDB;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: #A020F0;
    color: black;
    box-shadow: 0 0 25px #A020F0;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color : #E0E0E0;
    border-bottom: 3px solid transparent;
    transform: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 1.9px solid #E0E0E0;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #E0E0E0;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.project_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem auto;
    margin-top: 0;
    gap: 3rem;
}
.project_card{
    background-color: black;
    border: 2px solid #A020F0;
    border-radius: 2rem;
    max-width: 35rem;
    margin: 5rem auto;
    padding: 3rem ;
    box-shadow: 0 0 10px #A020F0;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.project_card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #A020F0;
}

.project_card .image{
    max-width: 29rem;
    height: 15rem;
    justify-content: center;
}

.project_card .image img{
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
    border: 2px solid #A020F0;
}

.project_card h2{
    font-size: 1.5rem;
    color: #E0E0E0;
    margin-top: 1.5rem;
    text-align: center;
}
.project_card p{
    font-size: 1.2rem;
    color: #E0E0E0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project_card .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project_card .tags span{
    background-color: black;
    border: 1px solid #A020F0;
    color: #E0E0E0;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.project_card .btn_group{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.project_card .btn_group a{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #A020F0;
    color: black;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    transition: 0.3s ease-in-out;
    box-shadow: none;
}

.project_card .btn_group a:hover{
    color: #E0E0E0;
}

.course_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 5rem auto;
    margin-top: 0;
}
/* From Uiverse.io by gharsh11032000 */ 
.course_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28rem;
    box-shadow: 0 0 10px #A020F0;
    border: 2px solid #A020F0;
    padding: 2rem;
    overflow: hidden;
    border-radius: 10px;
    background: black;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #E0E0E0;
    transition: 0.3s ease-in-out;
}

.card_content .card_heading {
    font-weight: 700;
    font-size: 3rem;
}

.card_content .card_para {
  line-height: 1.5;
    font-size: 1.1rem;
}

.card_content .card_btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #A020F0;
    color: black;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
    transition: 0.3s ease-in-out;
    box-shadow: none;
    font-weight: 600;
}

.course_card:hover {
    box-shadow: 0 0 25px #A020F0;
    transform: scale(1.05);
}

.card_content .card_btn:hover {
    color: #E0E0E0;
    transform: scale(1.1);
}

.card_content .card_btn:active {
    box-shadow: none;
}

@media (max-width: 1285px){
    html{
        font-size: 55%;
    }
    .course_cards{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}

@media (max-width: 991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .courses{
        padding-bottom: 7rem;
    }
    .projects .project_cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%
    }
}

@media (max-width: 895px){
    #menu-icon{
        diaplay: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid #A020F0;
        border-bottom: 2px solid #A020F0;
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #E0E0E0;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home_content{
        font-size: 2.6rem;
    }
    .home_content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home_content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .model_box .model{
        width: 100%;
    }
    spline-viewer{
        width:56vw;
    }
}